fastapi
uvicorn
python-multipart
pydantic-settings
psutil
opencv-python
numpy<2.0.0
paddleocr
paddlepaddle
requests
urllib3<2.0.0
flask
werkzeug
pytesseract
pytest
slowapi
easyocr
websockets
onnxruntime
huggingface-hub
jaraco.text
pywebview
customtkinter
